**How many positive integers $x\leq 10000$ are such that the difference $2^{x}-x^{2}$ is not divisible by 7?**

_____

- Before we think about this in the general sense, let's try a few examples:

$$
x=2 \implies 2^{x} - x^{2} = 2^{2} - 2^{2} = 0 = 0\cdot7 \implies \text{Divisible by 7}
$$

$$
x = 3 \implies 2^{x} - x^{2} = 2^{3} - 3^{2} = 8 - 9 = -1 \implies \text{NOT Divisible by 7}
$$

$$
x = 4 \implies 2^{x} - x^{2} = 2^{4} - 4^{2} = 16 - 16 = 0 = 0\cdot7 \implies \text{Divisible by 7}
$$

$$
x = 5 \implies 2^{x} - x^{2} = 2^{5} - 5^{2} = 32 - 25 = 7 = 1\cdot7 \implies \text{Divisible by 7}
$$

$$
x = 6 \implies 2^{x} - x^{2} = 2^{6} - 6^{2} = 64 - 36 = 28 = 4\cdot7 \implies \text{Divisible by 7}
$$

$$
x = 7 \implies 2^{x} - x^{2} = 2^{7} - 7^{2} = 128 - 49 = 79\implies \text{NOT Divisible by 7}
$$

$$
x = 8 \implies 2^{x} - x^{2} = 2^{8} - 8^{2} = 256 - 64 = 192\implies \text{NOT Divisible by 7}
$$

$$
x = 9 \implies 2^{x} - x^{2} = 2^{9} - 9^{2} = 512 - 81 = 431\implies \text{NOT Divisible by 7}
$$

$$
x = 10 \implies 2^{x} - x^{2} = 2^{10} - 10^{2} = 1024 - 100 = 924 = 132\cdot7\implies \text{Divisible by 7}
$$

- As we can see, for $x\geq 4$, then $2^{x} > x^{2}$

- If we look at $x=5$, the difference was $32 - 25$. Now, taking a closer look at the fraction...

$$
\frac{32 - 25}{7} = \frac{32}{7} - \frac{25}{7} = \left (\frac{28 + 4}{7} \right )- \left (\frac{21 + 4}{7} \right ) = \left (4 + \frac{4}{7} \right ) - \left (3 + \frac{4}{7} \right )
$$

$$
= (4-3) + (4/7 - 4/7) = 1 + 0 = 1
$$

- Let's do the same thing for $x=6$:

$$
\frac{64-36}{7} = \frac{63 + 1}{7} - \frac{35 + 1}{7} = \left (9-5 \right ) + \left (1/7 - 1/7 \right) = 4 - 0 = 4
$$

- And finally, one last time with $x=7$:

$$
\frac{128-49}{7} = \frac{126 + 2}{7} - \frac{49+0}{7} = (18 - 7) + (2/7 - 0/7) = 11 + 2/7
$$

- *What do we notice from these three examples?*
    - For the ones where the difference is divisible by 7, the remainders are the same
        - i.e. $2^{x} \mod 7 = x^{2} \mod 7$

- This means that if the difference is divisble by 7, then we can express $2^{x}$ and $x^{2}$ as:

$$
2^{x} = 7^{\alpha} + \epsilon \\
x^{2} = 7^{\beta} + \epsilon
$$

- Above, $\epsilon$ is the remainder and $\alpha$ and $\beta$ are integers
    - **Note**: as we can see from the examples above, $x \geq 5 \implies \alpha > \beta$

- Let's go through some examples again, but this time consider the remainders
    - We'll start by only considering the remainders for $2^{x}$

In [40]:
for x in range(1, 30):
    val = 2**x
    remainder = val % 7
    print('x = {}, remainder = {}'.format(x, remainder))

x = 1, remainder = 2
x = 2, remainder = 4
x = 3, remainder = 1
x = 4, remainder = 2
x = 5, remainder = 4
x = 6, remainder = 1
x = 7, remainder = 2
x = 8, remainder = 4
x = 9, remainder = 1
x = 10, remainder = 2
x = 11, remainder = 4
x = 12, remainder = 1
x = 13, remainder = 2
x = 14, remainder = 4
x = 15, remainder = 1
x = 16, remainder = 2
x = 17, remainder = 4
x = 18, remainder = 1
x = 19, remainder = 2
x = 20, remainder = 4
x = 21, remainder = 1
x = 22, remainder = 2
x = 23, remainder = 4
x = 24, remainder = 1
x = 25, remainder = 2
x = 26, remainder = 4
x = 27, remainder = 1
x = 28, remainder = 2
x = 29, remainder = 4

- As we can see, the remainders follow the pattern [2, 4, 1]
    - Now, let's look at $x^{2}$

In [41]:
for x in range(1, 30):
    val = x**2
    remainder = val % 7
    print('x = {}, remainder = {}'.format(x, remainder))

x = 1, remainder = 1
x = 2, remainder = 4
x = 3, remainder = 2
x = 4, remainder = 2
x = 5, remainder = 4
x = 6, remainder = 1
x = 7, remainder = 0
x = 8, remainder = 1
x = 9, remainder = 4
x = 10, remainder = 2
x = 11, remainder = 2
x = 12, remainder = 4
x = 13, remainder = 1
x = 14, remainder = 0
x = 15, remainder = 1
x = 16, remainder = 4
x = 17, remainder = 2
x = 18, remainder = 2
x = 19, remainder = 4
x = 20, remainder = 1
x = 21, remainder = 0
x = 22, remainder = 1
x = 23, remainder = 4
x = 24, remainder = 2
x = 25, remainder = 2
x = 26, remainder = 4
x = 27, remainder = 1
x = 28, remainder = 0
x = 29, remainder = 1

- As we can see, the remainders follow the pattern [1,4,2,2,4,1,0]

- So now that we have the pattern for the remainders for both, let's see how they line up

- The first list of remainders has 3 elements, and the second has 7
    - This means that if we repeat the first list 7 times and the second 3 times, our two new lists will have the same length

In [43]:
import pandas as pd

In [81]:
df = pd.DataFrame({'2^x remainders':7*[2,4,1],
                   'x^2 remainders':3*[1,4,2,2,4,1,0]})
df['matching remainders'] = df['2^x remainders'] == df['x^2 remainders']
df

    2^x remainders  x^2 remainders  matching remainders
0                2               1                False
1                4               4                 True
2                1               2                False
3                2               2                 True
4                4               4                 True
5                1               1                 True
6                2               0                False
7                4               1                False
8                1               4                False
9                2               2                 True
10               4               2                False
11               1               4                False
12               2               1                False
13               4               0                False
14               1               1                 True
15               2               4                False
16               4               2                False
17               1               2                False
18               2               4                False
19               4               1                False
20               1               0                False

- So, as we can see, for every 21 values of $x$, the remainders will match 6 times

- **Now we have everything we need**

- We can first calculate how many times 21 goes into 10,000

$$
\left [ \frac{10000}{21} \right] = [476.19] = 476
$$

- Since $476 \cdot 21 = 9996$, there will be $476\cdot 6 = 2,856$  matches between 1 and 9996 inclusively

- The remaining numbers to check are 9,997, 9,998, 9,999, and 10,000
    - But as we can see from the table above, the remainders match for 2 of the first 4 remainders in the lined up lists

- Therefore, the total number of integers less than or equal to 10,000 that satisfy our condition is equal to:

$$
\text{N integers}_{divisible} = 2856 + 2 = 2858
$$

- So now, since we're after the number of integers NOT divisible by 7:

$$
\text{N integers}_{not divisible} = 10000 - \text{N integers}_{divisible} = 7142
$$

**Therefore, the number of positive integers $x\leq 10000$ such that the difference $2^{x}-x^{2}$ is not divisible by 7 is equal to 7142**